.filter_container {
  display: flex;
  /* justify-content: space-between; */
  /* align-items: center; */
  justify-items: center;
}

.filter_item {
  margin-right: 10px;
  height: 6vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  cursor: pointer;
}
.filter_item:nth-child(1) {
  background-color: rgba(128, 128, 128, 0.616);
  width: 100%;
}

.filter_item:nth-child(2) {
  background-color: rgba(0, 0, 255, 0.466);
  width: 100%;
}

.filter_item:nth-child(3) {
  background-color: rgba(0, 128, 0, 0.479);
  width: 100%;
}

.filter_item:nth-child(4) {
  background-color: rgba(255, 166, 0, 0.493);
  width: 100%;
}
